html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* smooth transition */
@view-transition {
  navigation: auto;
  types: slide, forwards;
}

/*
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s; 
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  will-change: opacity, transform; 
}
*/