@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.tbctitle {
  display: flex;
  flex-direction: column;
  vertical-align: center;
}

.toc-specific {
  font-family: "EB Garamond", serif;
  font-size:15px;
  margin-bottom: 0;
  margin-top:0px;
  margin-left:20px;
  align-items: center;
}

/* smooth transition */
@view-transition {
  navigation: auto;
  types: slide, forwards;
}

/*
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s; 
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  will-change: opacity, transform; 
}
*/